.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: rgba(75, 129, 61, 0.205);
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.order-summary {
  background-color: #0418302d;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.order-summary h2 {
  margin-bottom: 10px;
}

.order-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-summary li {
  margin-bottom: 5px;
}

.order-summary p {
  margin-bottom: 5px;
}

.order-summary h3 {
  margin-top: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: